.speech{
  font-family: Times New Roman, serif;
  font-size: 14px; 
  color: black;
  background-color: lightgray; 
  transition: background-color 0.3s, color 0.3s;

}

.direction{
  font-family: Times New Roman, serif; 
  font-size: 14px; 
  color: black;
  background-color: lightgray; 
  transition: background-color 0.3s, color 0.3s;

}
.direction:hover{
    background-color: greenyellow;
    color: yellow;

}
.HILDA{
    color: brown;
}
.MRS.SOLNESS{
    color: chocolate;

}
table{
  font-size: medium;
  border: 5px blue  solid;
  color: rgb(8, 235, 133);
  text-align: center;
  padding: 12px;
  margin: 3px;
}
tr:nth-child(odd){
  background-color: violet;
}
.HILDA:hover{

  text-shadow:6px 7px 5px rgb(180,63,63);

  border:solid 2px orange

}

.MRS.SOLNESS:hover{

text-shadow:6px 7px 5px rgb(180,63,63);

  border:solid 2px orange

}

.navbar{

  text-align: center;

  background-color:rgb(250,2,220);

  padding: 10px;

  width:50%;

}

.navbar a{

  color:black;

  text-decoration: underline;

  display: block;

  padding: 5px;

}

.navbar a:hover{

  background-color: rgb(218,204,186);

  color:rgb(180,63,63);

}

