.speech{
  font-family: Times New Roman, serif;
  font-size: 14px; 
  color: black;
  background-color: lightgray; 
  transition: background-color 0.3s, color 0.3s;

}

.direction{
  font-family: Times New Roman, serif; 
  font-size: 14px; 
  color: black;
  background-color: lightgray; 
  transition: background-color 0.3s, color 0.3s;

}
.direction:hover{
    background-color: greenyellow;
    color: yellow;

}
.HILDA{
    color: brown;
}
.MRS.SOLNESS{
    color: chocolate;

}
table{
  font-size: medium;
  border: 5px blue  solid;
  color: rgb(8, 235, 133);
  text-align: center;
  padding: 12px;
  margin: 3px;
}
tr:nth-child(odd){
  background-color: violet;
}
.name:hover{
    border:4px solid;
    text-shadow: 2px 2px 5px  black;
}
